p{
    margin: 0;
}

body{
    margin: 0;
    background-color: #eeefef;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    letter-spacing: .1em;
}

.section{
    z-index: 100;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; 
    padding: 30px 10px 50px;
    /* height: 100vh; */
    position: relative;
    text-align: center;
    background-color: rgba(248, 248, 248, 1);
    border: rgb(209, 209, 209) 1px solid;
}

.section_title{
    font-family: Helvetica;
    display: inline-block;
    font-size: 20px;
}







.Top{
    position: relative;
    height: 100vh;
}

.Top_titleBox,
.Top_detailBox{
    display: none;
    position: fixed;
    z-index: 10;
    animation: titleScale 1s;
}

@keyframes titleScale{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.Top_titleBox{
    left: 20px;
    top: 260px;
}

.Top_title{
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 0;
}

.Top_subTitle{
    font-family: Helvetica;
    margin-top: -10px;
    margin-bottom: 0;
}

.Top_detailBox{
    text-align: left;
    left: 20px;
    bottom: 90px;
}

.Top_detailBox p{
    margin-top: 0;
    margin-bottom: 0;
    /* margin-bottom: 5px; */
}

.Top_day{
    letter-spacing: 0;
    display: flex;
    font-family: Helvetica;
    font-size: 24px;
}

.Top_dayWeek{
    font-size: 16px;
    margin-left: 3px;
    letter-spacing: .1em;
}

.Top_dayBetween{
    margin-left: 5px;
    margin-right: 5px; 
}

.Top_time{
    font-family: Helvetica;
    font-size: px;
    margin-bottom: 0 !important;
}

.Top_timeLast{
    font-size: 10px;
    margin-left: 10px;
}

.Top_place{
    font-size: 11px;
    letter-spacing: .3em;
}

.Top_news{
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 10px;
    padding: 3px;
}

.Top_backGround{
    position: fixed;
    top: -100px;
    left: 0;
    height: calc(100vh + 100px);
    width: 100vw;
}

#svg{
    /* height: 100vh; */
    width: 100%;
}

.st0{
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-width: 4;
    animation: animYellow 2s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
  
@keyframes animYellow {
    0% {
        fill: transparent;
        stroke: #FFF000;
        stroke-dashoffset: 2000;
    }
    80% {
        fill: transparent;
        stroke-dashoffset: 0;
        stroke: #FFF000;
    }
    100% {
        stroke: none;
        fill: #FFF000;
    }
}

.st1{
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-width: 2;
    animation: animBlue 2.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
  
@keyframes animBlue {
    0% {
        fill: transparent;
        stroke: #1D2087;
        stroke-dashoffset: 2000;
    }
    80% {
        fill: transparent;
        stroke-dashoffset: 0;
        stroke: #1D2087;
    }
    100% {
        stroke: none;
        fill: #1D2087;
    }
}

.st2{
    fill: transparent;
    stroke-dasharray: 2000;
    stroke-width: 2;
    animation: animGray 3.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}
  
@keyframes animGray {
    0% {
        fill: transparent;
        stroke: #B4B4B5;
        stroke-dashoffset: 2000;
    }
    50% {
        fill: transparent;
        stroke-dashoffset: 0;
        stroke: #B4B4B5;
    }
    100% {
        stroke: none;
        fill: #B4B4B5;
    }
}

.Top_personImgBox{
    position: absolute;
}

.Top_personImgBox:nth-of-type(1){
    top: 165px;
    left: 45px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(1) .Top_personImg{
    height: 70px;
}

.Top_personImgBox:nth-of-type(2){
    top: 167px;
    left: 130px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(2) .Top_personImg{
    height: 68px;
}

.Top_personImgBox:nth-of-type(3){
    top: 165px;
    left: 204px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(3) .Top_personImg{
    height: 70px;
}

.Top_personImgBox:nth-of-type(4){
    top: 165px;
    left: 296px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(4) .Top_personImg{
    height: 70px;
}

.Top_personImgBox:nth-of-type(5){
    top: 270px;
    left: 35px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(5) .Top_personImg{
    height: 65px;
}

.Top_personImgBox:nth-of-type(6){
    top: 267px;
    left: 132px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(6) .Top_personImg{
    height: 68px;
}

.Top_personImgBox:nth-of-type(7){
    top: 263px;
    left: 212px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(7) .Top_personImg{
    height: 77px;
}

.Top_personImgBox:nth-of-type(8){
    top: 266px;
    left: 300px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(8) .Top_personImg{
    height: 75px;
}

.Top_personImgBox:nth-of-type(9){
    top: 373px;
    left: 212px;
    animation: personImg .5s;
}
    
.Top_personImgBox:nth-of-type(9) .Top_personImg{
    height: 65px;
}

.Top_personImgBox:nth-of-type(10){
    top: 366px;
    left: 300px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(10) .Top_personImg{
    height: 75px;
}

.Top_personImgBox:nth-of-type(11){
    top: 470px;
    left: 43px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(11) .Top_personImg{
    height: 80px;
}

.Top_personImgBox:nth-of-type(12){
    top: 470px;
    left: 135px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(12) .Top_personImg{
    height: 80px;
}

.Top_personImgBox:nth-of-type(13){
    top: 470px;
    left: 218px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(13) .Top_personImg{
    height: 80px;
}

.Top_personImgBox:nth-of-type(14){
    top: 474px;
    left: 292px;
    animation: personImg .5s;
}

.Top_personImgBox:nth-of-type(14) .Top_personImg{
    height: 77px;
}

@keyframes personImg{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Top_scrollBox{
    display: none;
    font-family: Helvetica;
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    animation: scroll 1s infinite;
    text-align: center;
}

.Top_scrollText{
    margin-bottom: 25px;
    font-size: 14px;
}

.Top_scrollArrow{
    position: absolute;
    width: 50px;
    height: 50px;
    border-bottom: #000 1px solid;
    border-right: #000 1px solid;
    transform: rotate(45deg);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes scroll{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}   








.About_text{
    padding-left: 10px;
    padding-right: 10px; 
    text-align: left;
    font-size: 12px;
}
















.Access_map{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.Access_link{
    color: #fff;
    background-color: #1d2087;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.Access_trafficBox{
    margin-top: 60px;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.Access_busBox,
.Access_train{
    font-size: 11px;
}

.Access_busBoxHead::before{
    content: "<";
}  

.Access_busBoxHead::after{
    content: ">";
} 

.Access_busBoxContent{
    margin-left: 10px;
}







.ComingSoon{
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}